/*

=========================================================================
This pattern is downloaded from www.toptal.com/designers/subtlepatterns/
If you need more, that's where to get'em.
========================================================================

*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-image: url('img/canadian-dollar.png');
}

:root {
    font-size: 10px;
    font-family: 'DM Sans', sans-serif;
}

/* General looking */

.container {
    width: 99vw;
    height: 99vh;
    display: grid;
    grid-template-columns: 1.5fr 3.5fr;
    grid-gap: 5px;
}

.footer {
    grid-column-start: 1;
    grid-column-end: -1;
}

/* Finishing touches */

.questions, .footer {
    background-color: rgba(0, 155, 194, 0.356);
}

.crossword {
    background-color: rgba(0, 255, 221, 0.404);
}

.margin {
    margin: 10px;
}

/* Questions style */

.questions ol {
    font-size: 1.55rem;
}

.questions h2 {
    font-size: 2.4rem;
    color: #29113e;
}

.question {
    margin-bottom: 4px;
    padding-bottom: 4px;
    border-bottom: 2px dotted black;
    color: #9b0542;
    font-weight: bold;
}

.question:last-child {
    border-bottom: none;
    padding-bottom: none;
}

.question:nth-child(odd) {
  color: black;
  font-weight: normal;
}

/* footer style */

.footer {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

}

.footer h2 {
    font-size: 2.4rem;
}

/* Crossword style */

.crossword {
    font-size: 2rem;
    text-align: center;
}

.crossword h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #29113e;
}

/* making ol numbers bold */

ol {
    margin: 0 0 1.5em;
    padding: 0;
    counter-reset: item;
  }

  ol > li {
    margin: 0;
    padding: 0 0 0 2em;
    text-indent: -2em;
    list-style-type: none;
    counter-increment: item;
  }

  ol > li:before {
    display: inline-block;
    width: 1em;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: counter(item) ".";
  }

  /* crossword style */

  .board{
      display: grid;
      grid-template-columns: repeat(14, 1fr);
      grid-template-rows: repeat(10, 1fr);
  }

  .square {
      min-height: 60px;
      min-width: 60px;
  }

  /* squares style */

  .square {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      text-transform: uppercase;
  }

  .active {
    border: 2px rgba(0, 0, 0, 0.521) solid;
    margin:0px 0px -2px -2px;
    background-color: rgba(0, 255, 255, 0.274);
    transition: all 0.4s ease;
  }

  .special{
      background-color: rgba(0, 138, 192, 0.712) !important;
  }

  .correct {
      background-color: rgba(5, 243, 5, 0.534);
  }

  /* Input style */

  .box {
      font-weight: bold;
      border: none;
      outline: none;
      width: 100%;
      height: 100%;
      font-size: 3rem;
      text-align: center;
      background-color: transparent;
      text-transform: uppercase;
  }

/* Numbers Style */

.number {
  font-size: 3rem;
  text-transform: uppercase;
}
